<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body class="auth-wrapper">
<div class="form-container">
    <h2 class="form-title">Регистрация</h2>
    <form th:action="@{/register}" th:object="${user}" method="post" class="form-body">
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" th:field="*{username}" required>
        </div>

        <div class="form-group">
            <label for="email">Почта:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>

        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>

        <button type="submit">Зарегистрироваться</button>
    </form>
    <p class="form-footer">Уже есть аккаунт? <a th:href="@{/login}">Войдите здесь</a></p>
</div>

</body>
</html>
