<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр поста</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="d-flex justify-content-between align-items-center p-3 mb-4 border-bottom">
    <h1 class="h3 mb-0">Posts</h1>
    <a href="/profile" class="btn btn-primary">Профиль</a>
    <a href="/logout" class="btn btn-danger">Выйти</a>
</header>

<div class="container mt-5">
    <h2 class="text-center mb-4" th:text="${post.title}">Заголовок поста</h2>
    <p th:text="${post.content}">Контент поста</p>
    <p>
        <strong>Автор:</strong>
        <a th:href="@{/users/{id}(id=${post.author.id})}"
           th:text="${post.author.username}">Имя автора</a>
    </p>
    <a href="/posts" class="btn btn-secondary mt-3">Вернуться к списку постов</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
