<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div></div>
        <h1 class="header-title">Habrbrbr</h1>
        <div class="header-links">
            <a href="/profile" class="link">Профиль</a>
            <a href="/logout" class="link logout">Выйти</a>
        </div>
    </header>

    <main class="main container">
        <div class="profile-card">
            <h3 class="profile-title">Ваш профиль:</h3>
            <p><strong>Имя пользователя:</strong> <span th:text="${user.username}">JohnDoe</span></p>
            <p><strong>Почта:</strong> <span th:text="${user.email}">john@example.com</span></p>
        </div>

        <div class="posts-section">
           <div class="post-titles">
               <h3 class="section-title">Ваши посты</h3>
               <a href="/posts/new" class="btn">Создать пост</a>
               <a href="/posts" class="btn">На главную</a>
           </div>


            <div class="post-list">
                <div th:each="post : ${posts}" class="post-item">
                    <a th:href="@{/posts/{id}(id=${post.id})}" class="post-link">
                        <img th:src="@{${post.imagePath}}" alt="Post image" class="post-image">
                        <h3 class="post-title" th:text="${post.title}">Заголовок поста</h3>
                        <p class="post-excerpt" th:text="${post.content}">Краткий текст поста</p>
                    </a>

                    <div class="post-actions">
                        <a th:href="@{/posts/edit/{id}(id=${post.id})}" class="btn btn-edit">Редактировать</a>
                        <a th:href="@{/posts/delete/{id}(id=${post.id})}" class="btn btn-delete" onclick="return confirm('Вы уверены, что хотите удалить этот пост?');">Удалить</a>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer class="footer">
        © 2024 Habrbrbr. Все права защищены.
    </footer>
</div>
</body>
</html>
